body {
    margin-top: 51px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.carousel {
    margin-top: 25px;
}
.carousel .item {
    min-height: 425px;
}
.carousel .item-1 {
    background: #ccc url("../images/carousel_1.jpg") no-repeat 50%;
    background-size: 100%;
}
.carousel .item-2 {
    background: #ccc url("../images/carousel_2.jpg") no-repeat 50% 90%;
    background-size: 100%;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}